%% -*- mode: erlang -*-
[
    {bender, [
        {machinery_backend, progressor},
        {generator, #{
            path => <<"/v1/stateproc/bender_generator">>,
            schema => machinery_mg_schema_generic,
            % mandatory
            url => <<"http://machinegun-ha:8022/v1/automaton">>,
            transport_opts => #{
                pool => generator,
                timeout => 5000,
                max_connections => 1000
            }
        }},

        {sequence, #{
            path => <<"/v1/stateproc/bender_sequence">>,
            schema => machinery_mg_schema_generic,
            % mandatory
            url => <<"http://machinegun-ha:8022/v1/automaton">>,
            transport_opts => #{
                pool => generator,
                timeout => 5000,
                max_connections => 1000
            }
        }},

        {route_opts, #{
            % handler_limits => #{}
        }},

        {ip, "::"},
        {port, 8022},

        {protocol_opts, #{
            % time in ms with no requests before Cowboy closes the connection
            request_timeout => 5000
        }},
        % time in ms before woody forces connections closing
        {shutdown_timeout, 7000},

        {transport_opts, #{
            % timeout() | infinity, default is 5000
            handshake_timeout => 5000,
            % maximum number of incoming connections, default is 1024
            max_connections => 10000,
            % size of acceptors pool, default is 10
            num_acceptors => 100
        }},

        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000,
                        max_printable_string_length => 4
                    }
                }
            }}
        ]},

        {health_check, #{
            disk => {erl_health, disk, ["/", 99]},
            memory => {erl_health, cg_memory, [99]},
            service => {erl_health, service, [<<"bender">>]}
        }}
    ]},

    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => standard_io,
                    sync_mode_qlen => 2000,
                    drop_mode_qlen => 2000,
                    flush_qlen => 3000
                }
            }}
        ]}
    ]},

    {progressor, [
        {defaults, #{
            storage => #{
                client => prg_pg_backend,
                options => #{
                    pool => default_pool
                }
            },
            retry_policy => #{
                initial_timeout => 5,
                backoff_coefficient => 2,
                max_timeout => 1800,
                max_attempts => 10,
                non_retryable_errors => []
            },
            task_scan_timeout => 15,
            process_step_timeout => 60,
            worker_pool_size => 500
        }},

        {namespaces, #{
            'bender_generator' => #{
                processor => #{
                    client => machinery_prg_backend,
                    options => #{
                        namespace => 'bender_generator',
                        handler => {bender_generator, #{}},
                        schema => machinery_mg_schema_generic
                    }
                },
                storage => #{
                    client => prg_pg_backend,
                    options => #{
                        pool => default_pool,
                        front_pool => default_pool,
                        scan_pool => default_pool
                    }
                }
            },
            'bender_sequence' => #{
                processor => #{
                    client => machinery_prg_backend,
                    options => #{
                        namespace => 'bender_sequence',
                        handler => {bender_sequence, #{}},
                        schema => machinery_mg_schema_generic
                    }
                },
                storage => #{
                    client => prg_pg_backend,
                    options => #{
                        pool => default_pool,
                        front_pool => default_pool,
                        scan_pool => default_pool
                    }
                }
            }
        }}
    ]},

    {epg_connector, [
        {databases, #{
            default_db => #{
                host => "db",
                port => 5432,
                database => "bender",
                username => "bender",
                password => "postgres"
            }
        }},
        {pools, #{
            default_pool => #{
                database => default_db,
                size => 50
            }
        }}
    ]},

    {os_mon, [
        % for better compatibility with busybox coreutils
        {disksup_posix_only, true}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {snowflake, [
        % 1 second
        {max_backward_clock_moving, 1000},
        {machine_id, {env_match, "HOSTNAME", "(?!-)([0-9]+)$"}}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]},

    {hackney, [
        {mod_metrics, woody_hackney_prometheus}
    ]}
].
