[
    {cs, [
        {ip, "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        {epg_db_name, cs},
        {health_check, #{
            service => {erl_health, service, [<<"customer-storage">>]}
        }}
    ]},

    {epg_connector, [
        {databases, #{
            cs => #{
                host => "db",
                port => 5432,
                username => "postgres",
                password => "postgres",
                database => "customer_storage"
            }
        }},
        {pools, #{
            default_pool => #{
                database => cs,
                size => 10
            }
        }}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]}
].
